#include <winres.h>

LANGUAGE 4, 2

100 DIALOG 0,0,235,132
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "关于 bras"
FONT 9, "宋体"
BEGIN
	ICON		128,-1,11,17,21,21,0
	LTEXT		"njubras",-1,44,16,119,8,WS_GROUP | SS_NOPREFIX
	LTEXT		"Designed by njunic       Web: http://nic.nju.edu.cn   Tel:  025-83594793           Email:bras@nju.edu.cn",-1,43,30,112,36,WS_GROUP
	DEFPUSHBUTTON	"确定",1,162,96,50,14,WS_GROUP
	CONTROL	"",-1,"Static",SS_BLACKFRAME | SS_SUNKEN,18,78,198,1
	LTEXT		"Copyright 2007 njunic All rights reserved",-1,29,96,87,20,WS_GROUP
END

102 DIALOGEX 0,0,225,181
STYLE WS_POPUP | WS_CAPTION | WS_MINIMIZEBOX | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
CAPTION "Connect to njunic"
FONT 9, "宋体"
BEGIN
	EDITTEXT	1007,62,103,149,12,WS_BORDER | ES_AUTOHSCROLL
	EDITTEXT	1008,62,120,149,12,WS_BORDER | ES_AUTOHSCROLL | ES_PASSWORD
	CONTROL	"Save username && password",1010,"Button",WS_TABSTOP | BS_AUTOCHECKBOX,8,135,112,10
	CONTROL	"Off-Campus",1011,"Button",WS_TABSTOP | BS_AUTOCHECKBOX,129,135,89,10
	DEFPUSHBUTTON	"Connect(&C)",1,8,156,46,14,0
	PUSHBUTTON	"Exit(&E)",2,61,156,46,14,0
	PUSHBUTTON	"Help(&H)",1000,114,156,46,14,0
	PUSHBUTTON	"About(&A)",1001,168,156,46,14,0
	CONTROL	139,1002,"Static",SS_BITMAP,7,6,210,91,WS_EX_TRANSPARENT
	LTEXT		"Username:",1005,14,105,37,8,WS_GROUP
	LTEXT		"Password:",1006,14,121,37,8,WS_GROUP
	CONTROL	"",-1,"Static",SS_BLACKRECT | SS_SUNKEN,5,150,213,1
	CONTROL	"",-1,"Static",SS_BLACKRECT | SS_SUNKEN,5,174,213,1
	LTEXT		"$0D$0A       Designed by njunic                                   Web: http://nic.nju.edu.cn                     Tel:  025-83594793           Email:bras@nju.edu.cn",1013,9,181,208,49,WS_GROUP
END

141 DIALOG 0,0,165,101
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "message"
FONT 9, "宋体"
BEGIN
	LTEXT		"Bras 余额：",1016,7,7,151,87,WS_GROUP
END

142 DIALOG 0,0,253,171
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Dialog"
FONT 9, "宋体"
BEGIN
	DEFPUSHBUTTON	"OK",1,81,139,50,14,0
	PUSHBUTTON	"Cancel",2,157,141,50,14,NOT WS_VISIBLE
	GROUPBOX	"NJUMail",1017,11,7,231,111,0
	CONTROL	"自动检测未读邮件数",1018,"Button",WS_TABSTOP | BS_AUTOCHECKBOX,22,23,96,10
	EDITTEXT	1019,127,21,52,14,WS_BORDER | WS_DISABLED | ES_AUTOHSCROLL
	LTEXT		"@nju.edu.cn",1020,183,23,45,8,WS_GROUP
	LTEXT		"时间间隔：",1021,23,46,41,8,WS_GROUP
	EDITTEXT	1022,68,43,111,14,WS_BORDER | WS_DISABLED | ES_AUTOHSCROLL
	LTEXT		"分钟",1023,188,47,17,8,WS_GROUP
END

STRINGTABLE DISCARDABLE
BEGIN
	101	"关于 bras(&A)..."
END
