2003 DIALOGEX 8, 16, 205, 91, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_DLGFRAME
CAPTION "飞越星空设置"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  DEFPUSHBUTTON   "确定", 1, 158, 8, 40, 14
  PUSHBUTTON   "取消", 2, 158, 26, 40, 14
  GROUPBOX   "飞行速度(&W)", -1, 4, 4, 150, 36
  LTEXT   "慢", 104, 8, 16, 32, 14
  RTEXT   "快", 105, 114, 16, 32, 14
  SCROLLBAR   "", 100, 8, 24, 141, 12, WS_GROUP | WS_TABSTOP
  GROUPBOX   "星空密度(&D)", -1, 4, 43, 150, 30
  LTEXT   "流星个数 (10-200)", 106, 10, 59, 92, 9
  EDITTEXT   "", 101, 106, 54, 31, 12
  CONTROL "", 102, "msctls_updown32", WS_TABSTOP | 0x00000027, 129, 54, 8, 12
}
